@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Sriracha', cursive;

}

header {
    background-color: black;
    color: white;
    text-align: center;
   
}

header h1 {
    padding-top: 50px;
    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section.normal {
    font-size: 3.5vw;
    padding: 60px 30px;
    line-height: 2em;
}

.normal p {
   padding-bottom: 50px;
    
}

section.imagem {
    padding: 60px 30px;
    font-size: 3.5vw;
}

.imagem p {
    background-color: #0000009f;
    color: white;
    padding: 5px;
    line-height: 2em;
    display: inline-block;
}

section#img01 {
    background-image: url("../imagens/background001.jpg");
    background-attachment: fixed;
    background-position: center right;
    background-size:cover;
}

section#img02 {
    background-image: url("../imagens/background002.jpg");
    background-position:  bottom right;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
  
}

 a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

 a:hover {
    text-decoration: underline;
    
}

