@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Sriracha', cursive;

}

header {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 40px;
   
}

header h1 {
    padding-top: 50px;
    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    font-size: 3.5vw;
    padding: 30px;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 90px;
    
     
}

 a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

 a:hover {
    text-decoration: underline;
    
}

